extends layout

block content
  .container
    .row
      .col.col-11.d-flex.justify-content-center.flex-column.align-items-center
        .page-header.text-center
          h1.mb-5 #[small.d-block.mb-2 #[i Hallo]] #{user.name.firstname} #{user.name.lastname}
      .col.col-1.d-flex.justify-content-center.flex-column.align-items-center
          a.btn.btn-default.btn-sm(href='/logout') logout
    .row.d-flex.align-items-center
      //- LOCATION INFORMATION
      .col-sm-4
        h3 #[span.fa.fa-user] #{user.username}
        p
          strong id
          | : #{user._id}
          br
          strong email
          | : #{user.email}
          br
          strong Benutzername
          | : #{user.username}
          br
          strong Passwort (Klartext)
          | : #{user.plainpassword}
          br
          strong Vorname
          | : #{user.name.firstname}
          br
          strong Nachname
          | : #{user.name.lastname}
          br
          strong Straßenname
          | : #{user.location.street}
          br
          strong Postleitzahl
          | : #{user.location.postcode}
          br
          strong Abteilung
          | : #{departmentname}
          br
          if user.is_admin == true
            a.btn.btn-primary.btn-sm.my-3(href='/admin') Zum Admin Panel
    .row.d-flex.align-items-start   
      .col-sm-6
        .user-card
          form.p-3(method='post')
            .row
              .col-6
                .form-group
                  label Benutzername Neusetzen
                  input.form-control(type='text', name='username')
              .col-6
                .form-group
                  label Passwort Neusetzen
                  input.form-control(type='password', name='password')
              .col-12
                button.btn.btn-warning.btn-lg.my-3(type='submit') aktualisieren
      .col-sm-6.d-flex.flex-column
        .project-card
          form.p-3(action="/project/create" method='post')
            .form-group
              label Projektname
              input.form-control(type='text', name='projectname')
            .form-group
              label Projekttext
              textarea.form-control(type='text', name='projecttext')
        
            button.btn.btn-warning.btn-lg.my-3(type='submit') Projekt erstellen              
    .row.mt-5
      .col-12  
        .card-body
          .table-responsive
            table.table.table-bordered(width='100%', cellspacing='0')
              thead
                tr
                  th Projektname
                  th Projekttext
                  th Projekbesitzer
                  th Editieren
              tbody
                if project.length > 0
                  - for(var i = 0; i < project.length; i++) {
                      tr
                        td #{project[i].projectname}
                        td #{project[i].projecttext}
                        td #{project[i].projectowner}
                        td 
                          a(href='/profile/project/' + project[i]._id + '/delete') 
                            span.fa.fa-trash-o
                  - }
            
